.go{
     width:351px;
      background:rgb(20,200,40);
       height:45px;
       border:0px solid white;
       border-radius:10px;
       text-align:center;
        padding:15px
       display: inline-block;
  }
